 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  justify-content: center;
  background: linear-gradient(to right, #f1b2ab, #8e44ad);
}
 html {
  scroll-snap-type: y mandatory;
  scroll-padding-top: 100px;
  overflow-y: scroll;
}
section {
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  display: grid;
  place-items: center;
  align-items: center;
  min-height: 100vh;
} 

.container {
  margin: 7px;
  padding: auto;
  border: 2px solid white;
  width: 300px;
  height: 350px;
  border-radius: 15px;
  max-width: 100%;
  background: linear-gradient(to right, #c0392b, #8e44ad);
  opacity: 0.5;
  position: relative;
  transition: left 1s ease;
}

.big-box {
  margin: 7px;
  padding: auto;
  border: 2px solid white;
  width: 285px;
  height: 150px;
  background-color: #ee9ca7;
  box-shadow: 10px 10px 5px #ed7d71 inset;
  border-radius: 15px;
  opacity: 0.5;
}

.circle_one {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  margin-bottom: 7px;
  padding-left: 7px;
}

.circle {
  border: 2px solid white;
  border-radius: 50%;
  width: 78px;
  height: 82px;
  opacity: 0.5;
  grid-row: 1 / 2;
  background-color: #ee9ca7;
  box-shadow: 10px 10px 5px #ed7d71 inset;
}

.box {
  display: grid;
  justify-content: space-between;
  position: relative;
  margin: 7px;
  padding: auto;
  border: 2px solid white;
  width: 180px;
  height: 20px;
  border-radius: 15px;
  opacity: 0.5;
  background-color: #ee9ca7;
  box-shadow: 5px 3px 5px #ed7d71 inset;
}

.small-box {
  justify-content: space-between;
  position: relative;
  margin: 7px;
  padding: auto;
  border: 2px solid white;
  width: 100px;
  height: 15px;
  border-radius: 15px;
  opacity: 0.5;
  background-color: #ee9ca7;
  box-shadow: 10px 10px 5px #ed7d71 inset;
}
 
.hidden-1{
  opacity: 0;
}
.hidden-1{
  opacity: 1;
}